@charset "utf-8";

/* CSS Document */

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.plus { background: url('images/details_open.png') no-repeat center center !important; cursor: pointer;}
.minus { background: url('images/details_close.png') no-repeat center center !important; cursor: pointer;}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin:15px; padding:2px; font-size: 16px; background: #cedc98; border: 1px solid #DDDDDD; color: #333333; cursor:pointer;}
.select2-results__option{position: relative;}
.select2-container--bootstrap .select2-results__option[aria-selected=true]{background-color:#dce7dc; color: #000;}
.select2-container--bootstrap .select2-results__option[aria-selected=true]:after{content: '\f00c'; font-family:'FontAwesome';     display: inline-block;
    margin-left: 15px; color: #21B300}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove{color: #ef0000;}

.lang-select{position:relative; border: 1px solid #ddd; border-right: none;}
.lang-select-mobile_num{position:relative; border: 1px solid #ddd; border-right: none;}
.lang-select-phone_ceo_num{position:relative; border: 1px solid #ddd; border-right: none;}
.select2-selection__rendered li{position: relative;}
.select2-selection__rendered li.select2-search--inline:after{content: '\f107'; font-family:'FontAwesome'; display: none; color: #666; position: absolute; right: 15px;}

.table-scrollable .dataTable td .btn-group, .table-scrollable .dataTable th .btn-group{}

.thumbnail{background-color: #e0e0e0;}

.table .form-control{margin-bottom:10px;}


.vodiapicker{
  display: none; 
}

.companyinfo h3{font-size: 20px; position: relative; padding-left: 30px;}
.companyinfo h3 i{position: absolute; left: 0; top: 10px;}

.companyinfo h3 p{font-size: 14px; color: #333; margin-top: 10px;}
.companyinfo h3 p strong{font-weight: 600; color: #D6080B}



.vodiapicker_mobile_num{
  display: none; 
}

.vodiapicker_phone_ceo_num{
  display: none; 
}

#a{
  padding-left: 0px;
}

#a-mobile_num{
  padding-left: 0px;
}

#a-phone_ceo_num{
  padding-left: 0px;
}

#a li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-select:after, #a li:after{clear:both; display:table; content:'';}
#a-mobile_num li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#a-phone_ceo_num li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#a li:hover{
 background-color: #F4F3F3;
}


#a-mobile_num li:hover{
 background-color: #F4F3F3;
}

#a-phone_ceo_num2 li:hover, #a-phone_ceo_num li:hover{
 background-color: #F4F3F3;
}

#a li img{
  margin: 5px;
      float: left;
}


#a-mobile_num li img{
  margin: 5px;
  float:left;
}

#a-phone_ceo_num2 li img, #a-phone_ceo_num li img{
  margin: 5px;
  float:left;
}


#a-mobile_num li:after{display:table; clear:both; content:'';}

#a-phone_ceo_num2 li:after, #a-phone_ceo_num li:after{display:table; clear:both; content:'';}


#a li span, .btn-select li span{
 margin-right: 4px;
}


#a-mobile_num li span, .btn-select-mobile_num li span{
 margin-right: 4px;
}


#a-phone_ceo_num li span, #a-phone_ceo_num2 li span, .btn-select-phone_ceo_num li span{
 margin-right: 4px;
}
#a-phone_ceo_num2{list-style: none; padding: 0;}

.btn-select-phone_ceo_num2{display: block; background: #F4F3F3;}

/* item list */

.b{
  display: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    padding: 10px;
    width: 130px;
    background: #fff;
    height: 350px;
    overflow: auto;
  
}



.b-mobile_num{
  display: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    padding: 10px;
    width: 130px;
    background: #fff;
    height: 350px;
    overflow: auto;
  
}


.b-phone_ceo_num, .b-phone_ceo_num2{
  display: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    padding: 10px;
    width: 130px;
    background: #fff;
    height: 350px;
    overflow: auto;
  
}

.open{
  display: show !important;
}


.open-mobile_num{
  display: show !important;
}


.open_phone_ceo_num{
  display: show !important;
}

.btn-select{
  background-color:#F4F3F3;
  display: block;
  padding: 17px 15px;
}



.btn-select-mobile_num{
  background-color: #F4F3F3;
  display: block;
  padding: 17px 15px;
}


.btn-select-phone_ceo_num{
  background-color: #F4F3F3;
  display: block;
  padding: 17px 15px;
}
.btn-select li, .btn-select-phone_ceo_num2 li{
  list-style: none;
  padding-bottom: 0px;
  line-height: normal;
}



.btn-select-mobile_num li{
  list-style: none;
  padding-bottom: 0px;
  line-height: normal;
}


.btn-select-phone_ceo_num li{
  list-style: none;
  padding-bottom: 0px;
  line-height: normal;
}



.btn-select-mobile_num:hover li{
  margin-left: 0px;
}


.btn-select-phone_ceo_num:hover li{
  margin-left: 0px;
}

.btn-select:hover{
  background-color: #f1f1f1;
}

.btn-select-mobile_num:hover{
  background-color: #f1f1f1;
  
}

.btn-select-phone_ceo_num:hover{
  background-color: #f1f1f1;
  
}

.btn-select:focus{
   outline:none;
}


.btn-select-mobile_num:focus{
   outline:none;
}


.btn-select-phone_ceo_num:focus{
   outline:none;
}

.btn-select img{float:left;}

#projects_div h3{font-size: 16px; margin-top: 5px;}


.featchoose li {
	margin-bottom: 10px;
}


.open>.dropdown-menu {
    display: block;
    left: auto;
    right: 0;
	min-width: 250px;
}


.btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before {
    position: absolute;
    top: -8px;
    right:15px;
    left:auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}
.btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 16px;
    left:auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}
.educationList, .experienceList, .userPortfolio{list-style:none; padding:0;}


.btn.blue:not(.btn-outline).active.focus, .btn.blue:not(.btn-outline).active:focus, .btn.blue:not(.btn-outline).active:hover, .btn.blue:not(.btn-outline):active.focus, .btn.blue:not(.btn-outline):active:focus, .btn.blue:not(.btn-outline):active:hover, .open>.btn.blue:not(.btn-outline).dropdown-toggle.focus, .open>.btn.blue:not(.btn-outline).dropdown-toggle:focus, .open>.btn.blue:not(.btn-outline).dropdown-toggle:hover {
    color: #FFF;
    background-color: #e31212;
    border-color: #e31212;
}


.btn.blue:not(.btn-outline).focus, .btn.blue:not(.btn-outline):focus {
    color: #FFF;
    background-color: #e31212;
    border-color: #e31212;
}
.btn.blue:not(.btn-outline).active, .btn.blue:not(.btn-outline):active, .btn.blue:not(.btn-outline):hover, .open>.btn.blue:not(.btn-outline).dropdown-toggle{background-color: #e31212;
    border-color: #e31212;}

.page-content-white .page-title small{display: none;}

.btn-dark{background: #333; color: #fff;}
.btn-dark:hover{background: #000; color: #fff;}


#blogTable td h1, #blogTable td h2, #blogTable td h3, #blogTable td h4, #blogTable td h5, #blogTable td h6{font-size: 14px; font-weight: 400;}


.compphone .lang-select-mobile_num{float: left; width: 20%;}
.compphone .form-control{float: left; width: 80%; padding: 10px; height: auto;}
.compphone .btn-select-mobile_num{padding: 10px;}
.compphone:after{clear: both; display: table; content:' ';}



.userphbox .lang-select{float: left; width: 10%;}
.userphbox .form-control{float: left; width: 90%; padding: 10px; height: auto;}
.userphbox .lang-select .cselect{padding: 10px !important;}
.userphbox:after{clear: both; display: table; content:'';}




.dashboard-stat .details .desc{font-size: 14px;}
.dashboard-stat .details{left: 15px;}

.optionlist{list-style: none; padding-left: 0;}


#thumbnail .fa-times{color: #f00;}

.optionlist{position: relative; padding-bottom: 15px;}
.optionlist div.checker{position: static;}
.optionlist label.error{position: absolute; bottom: -10px; left: 0; text-align: left; width: 100%;}


.expiredjobsalert{background: #fff; box-shadow: 0 0 15px rgba(0,0,0,0.1); padding: 15px 20px; border: 1px solid #F3070B; margin-bottom: 30px;}
.expiredjobsalert p{margin:8px 0 0 0; font-size: 18px; font-weight: 700; color: #e7505a;}
.expiredjobsalert .col-md-4{text-align: right;}
.expiredjobsalert a{display: inline-block; background:#3598dc; color: #fff; padding: 10px 20px; font-size: 16px;}
.expiredjobsalert a:hover{text-decoration: none; background: #333;}


.job-header .jobinfo .candidateinfo .userPic img{width: auto; height: auto;}


#skill_div .text-success, #language_div .text-success{color: #000;}

.assignboxad{padding-bottom: 0;}
.assignboxad hr{display: none;}

#default_companies_dd .select2-container{margin-bottom: 30px;}


button.close{opacity: 1; top:15px; position: absolute; right: 15px;}

.text-red{color: #DF0509}
.text-blue{color: #1E39DC}
.black-text{color: #000}


#eligible_eu-error, #eligible_uk-error{    position: absolute;
    margin-left: 40px;
    margin-top: 0;
    width: 380px;
    display: inline-table;}



.seekphone .lang-select{float: left; width: 10%;}
.seekphone .btn-select{padding:11px 15px;}
.seekphone .form-control{    float: left;
    width: 90%;
    border-radius: 0;
    padding: 10px 15px;
    height: auto;}
.seekphone:after{clear: both; display: table; content:'';}


.companyinfo .companylogo img{height: auto !important;}

.pagination{float: right; margin-bottom: 15px;}
.odd td li, .even td li{text-align: left;}

.dataTables_paginate:after{display: table; clear: both; content:'';}

.table tr td:last-child{text-align: center !important;}
.table-scrollable .dataTable td .btn-group, .table-scrollable .dataTable th .btn-group {
    position: relative;
}
.table .btn {
  margin-right: 0;
}



@media screen and (max-width: 767px) {
.allowed_message{margin-bottom: 0;}
	#street_address{height: 60px;}
	.radio-inline{display: block; margin-left: 0; padding-left: 0;}
}

@media only screen and (min-width: 768px){
  .table-scrollable{overflow: inherit !important;}
}

input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }